@import "../../styles/color-system.css";

.custom-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    flex-shrink: 0;
    white-space: nowrap;

    border: 2px solid transparent;
    cursor: pointer;
    background-color: transparent;

    outline: 2px solid transparent;
    outline-offset: 2px;

    transition: background-color 0.2s ease-out, border-color 0.2s ease-out, outline-color 0.2s ease-out, color 0.2s ease-out;
}

.custom-button-fit-content {
    width: fit-content;
}

.custom-button>* {
    cursor: inherit;
}

.custom-button:disabled {
    cursor: not-allowed;
    background-color: var(--disabled-bg);
    border-color: var(--disabled-border);
    color: var(--disabled-text);
}

.custom-button-pill {
    border-radius: 999px;
}

.custom-button-square {
    border-radius: 8px;
}

.custom-button-small {
    padding: 8px 16px;
}

.custom-button-medium {
    padding: 12px 28px;
}

.custom-button-large {
    padding: 16px 32px;
}

.custom-button-filled {
    color: var(--text-on-inverse);
    background-color: var(--primary-default);
}

.custom-button-filled:hover:not(:disabled) {
    color: var(--neutral-subtle-hover);
    background-color: var(--primary-hover);
}

.custom-button-filled:active:not(:disabled) {
    color: var(--neutral-border);
    background-color: var(--primary-active);
}

.custom-button-filled:focus-visible {
    outline-color: var(--primary-focus-ring);
}

.custom-button-outlined {
    border-color: var(--primary-border);
    color: var(--primary-default);
}

.custom-button-outlined:hover:not(:disabled) {
    background-color: var(--primary-subtle-hover);
}

.custom-button-outlined:active:not(:disabled) {
    background-color: var(--primary-subtle);
    color: var(--primary-border);
}

.custom-button-outlined:focus-visible {
    outline-color: var(--primary-focus-ring);
}

.custom-button-text {
    padding: 0;
    border: none;
    color: var(--primary-default);
}

.custom-button-text:hover:not(:disabled) {
    color: var(--primary-border);
}

.custom-button-text:active:not(:disabled) {
    color: var(--primary-subtle-hover);
}

.custom-button-text:focus-visible {
    outline-color: var(--primary-focus-ring);
}