@import "../../styles/color-system.css";

.snack-bar {
    border-radius: 14px;
    display: flex;
    gap: 8px;
    padding: 14px 16px;
    align-items: flex-start;
    width: 475px;
}

.snack-bar button {
    align-self: center;
}

.snack-bar p {
    width: 100%;
}

.snack-bar-success {
    background-color: var(--success-container);
    border: 2px solid var(--success-container);
    color: var(--success-on-container);
}

.snack-bar-border-success {
    border: 2px solid var(--success-on-container);
}

.snack-bar-warning {
    background-color: var(--warning-container);
    border: 2px solid var(--warning-container);
    color: var(--warning-on-container);
}

.snack-bar-border-warning {
    border: 2px solid var(--warning-on-container);
}

.snack-bar-error {
    background-color: var(--error-container);
    border: 2px solid var(--error-container);
    color: var(--error-on-container);
}

.snack-bar-border-error {
    border: 2px solid var(--error-on-container);
}

.snack-bar-info {
    background-color: var(--info-container);
    border: 2px solid var(--info-container);
    color: var(--info-on-container);
}

.snack-bar-border-info {
    border: 2px solid var(--info-on-container);
}

.snack-bar-dot {
    width: 8px;
    height: 8px;
    margin-top: 5px;
    flex-shrink: 0;
    border-radius: 999px;
}

.snack-bar-dot-success {
    background-color: var(--success-on-container);
}

.snack-bar-dot-warning {
    background-color: var(--warning-on-container);
}

.snack-bar-dot-error {
    background-color: var(--error-on-container);
}

.snack-bar-dot-info {
    background-color: var(--info-on-container);
}